//* Header
.task-details-header {
  grid-area: header;
  border-radius: 2px 2px 0px 0px;

  //* Header
  &-cover {
    color: whitesmoke;
    border-radius: 2px 2px 0px 0px;
    height: 116px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;

    // background-size: contain;
    // background-origin: content-box;
    // box-sizing: border-box;
    // background-position: center center;
    background-color: rgb(185, 199, 206);
    padding: 0px;


    & button {
      @include btn('task-edit',
        $list-btn-bg-clr-modal-hover,
        6px 12px,
        $task-details-btn-bg-clr-hover );
      display: flex;
      gap: 6px;
      margin: 8px;
      background-color: rgba(0, 0, 0, 0.1);
      color: #172b4d;
      width: fit-content;

      &:hover {
        background-color: rgba(0, 0, 0, 0.15);
      }
    }
  }
}