.task-details-main-attachments {
  padding: 0;
  display: grid;
  grid-auto-columns: 56px 424px 88px;
  grid-template-areas:
    'icon title .'
    'att att att'
    '. add-btn .';
  margin-bottom: 24px;

  @include for-mobile-layout {
    grid-auto-columns: 56px 1fr 1fr;
    // min-width: calc(100vw - 78px);
    max-width: calc(100vw - 56px);
  }

  &-icon {
    grid-area: icon;
    justify-self: flex-start;
    margin-left: 22px;
    color: #172b4d;
    font-size: 18px;
  }

  &-title {
    grid-area: title;
    margin: 0;
    justify-self: flex-start;
    font-size: 16px;
    font-weight: 600;
    color: #172b4d;
  }

  &-list {
    grid-area: att;
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: column;

    &-attachment {
      margin-top: 13px;
      display: flex;
      flex-direction: row;
      margin-left: 56px;
      gap: 0px 16px;
      align-items: center;

      &-media-container {
        display: flex;
        align-items: center;
        background-color: $list-btn-bg-clr-modal-hover;
        height: 80px;
        // width: 100%;
        min-width: 32px;
        width: 112px;
        justify-content: space-around;

        a {
          display: inline-block;
        }

        a img {
          display: block;
        }

        // img {
        //   object-fit: contain;
        //   // max-height: 100%;
        //   // max-width: 100%;
        // }

        .attachments-icon {
          margin: 0;
        }
      }

      &-content-container {
        display: flex;
        flex-direction: column;
        align-self: flex-start;
        padding: 8px 0;

        &-title {
          font-weight: 700;
          color: #172b4d;
          line-height: 1.4em;
        }

        &-date {
          color: #172b4d;
        }

        &-remove-btn {
          cursor: pointer;
          text-decoration: underline;
          color: #172b4d;
        }

        &-cover-btn {
          cursor: pointer;
          text-decoration: underline;
          color: #172b4d;
        }
      }
    }
  }

  &-add-btn {
    grid-area: add-btn;
    justify-self: flex-start;
    @include btn('task-edit',
      $list-btn-bg-clr-modal-hover,
      6px 12px,
      $task-details-btn-bg-clr-hover );
    display: flex;
    margin: 0;
    margin-top: 16px;
    width: fit-content;
  }
}

.task-attachment-modal-content {
  label {
    cursor: pointer;
    font-size: 23px;
    height: 32px;
    width: 100%;
    font-size: 14px;
    color: #172b4d;
    display: block;
    font-weight: 400;
    margin: 0;
    padding: 6px 0px 6px 6px;
    position: relative;
    text-decoration: none;
    background-color: transparent;

    &:hover {
      background-color: #091e420a;
    }
  }
}