//* Description
.task-details-main-description {
  // grid-area: description;
  // flex-direction: column;
  padding: 0;
  display: grid;
  grid-auto-columns: 56px 512px;
  grid-template-areas:
    'icon title'
    '. input';
  gap: 18px 0px;
  margin-bottom: 24px;
  &-icon {
    grid-area: icon;
    justify-self: flex-start;
    margin-left: 22px;
    color: #172b4d;
    font-size: 20px;
    // margin-top: 6px;
  }
  &-title {
    margin: 0;
    // margin-bottom: 18px;
    grid-area: title;
    justify-self: flex-start;
    font-size: 16px;
    font-weight: 600;
    color: #172b4d;
  }
  &-no-description-btn {
    grid-area: input;
    justify-self: flex-start;
    text-align: start;
    background-color: #091e420a;
    color: #172b4d;
    border-radius: 3px;
    min-height: 40px;
    padding: 9px 12px;
    min-width: 100%;
    height: 56px;
    font-size: 14px;
    cursor: pointer;
    &:hover {
      background-color: #091e4214;
    }
    &:active {
      background-color: #e4f0f6;
      color: #0079bf;
    }
  }
  &-input {
    grid-area: input;
    justify-self: flex-start;
    padding: 8px 12px;
    min-width: 100%;
    min-height: 56px;
    border: none;
    overflow: hidden;
    overflow-wrap: break-word;
    background-color: transparent;
    resize: none;
    border-radius: 3px;
    color: #172b4d;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans,
      Ubuntu, Droid Sans, Helvetica Neue, sans-serif;
    font-size: 14px;
    font-weight: 400;
    outline: none;
    &:not(.task-details-main-description-input:focus) {
      padding-left: 0;
    }
    &:focus {
      background-color: #091e420a;
      box-shadow: 0 0 0 1px inset #dfe1e6;
    }
  }
}
