//* Labels
.task-details-main-labels {
  // grid-area: labels;
  display: flex;
  flex-direction: column;
  justify-self: flex-start;
  margin-bottom: 20px;
  &-title {
    align-self: flex-start;
    color: #5e6c84;
    font-size: 12px;
    font-weight: 600;
    padding-left: 8px;
  }
  &-container {
    justify-self: flex-start;
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
    grid-area: label;
    padding-left: 8px;
    padding-right: 8px;
    margin-bottom: 4px;
    align-items: center;
    &-label {
      cursor: pointer;
      border-radius: 3px;
      max-width: 100%;
      min-width: 48px;
      height: 32px;
      display: flex;
      align-items: center;
      gap: 8px;
      padding-left: 8px;
      padding-right: 8px;
      &:hover {
        filter: saturate(85%) brightness(85%);
        background-color: rgba(255, 0, 0, 0.4);
      }
    }
    &-circle {
      border-radius: 50%;
      min-width: 16px;
      max-width: 16px;
      min-height: 16px;
      max-height: 16px;
    }
    &-title {
      color: #172b4d;
      font-size: 14px;
      width: max-content;
    }
  }
  &-add-btn {
    border-radius: 3px;
    margin: 0;
    padding: 0;
    line-height: 0;
    width: 32px;
    height: 32px;
    justify-items: center;
    align-items: center;
    font-size: 16px;
    background-color: #f0f0f0;
    color: #172b4d;
    &:hover {
      background-color: rgba(9, 30, 66, 0.08);
    }
  }
}
