//* Members
.task-details-main-members {
  // grid-area: members;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  &-title {
    align-items: flex-start;
    color: #5e6c84;
    font-size: 12px;
    font-weight: 600;
    // padding-left: 8px;
  }

  &-container {
    align-items: flex-start;
    // padding-left: 8px;
    display: flex;
    gap: 4px;

    &-img {
      cursor: pointer;
      min-height: 32px;
      max-height: 32px;
      min-width: 32px;
      max-width: 32px;
      border-radius: 50%;
    }
  }

  &-add-btn {
    border-radius: 50%;
    margin: 0;
    padding: 0;
    line-height: 0;
    width: 32px;
    height: 32px;
    justify-items: center;
    align-items: center;
    font-size: 16px;
    background-color: #f0f0f0;
    color: #172b4d;

    &:hover {
      background-color: rgba(9, 30, 66, 0.08);
    }
  }
}

.task-preview-members{
  float:right;
  flex-wrap: nowrap;
}