//* Black Overlay
.task-details-modal-overlay {
  position: fixed;
  overflow-x: hidden;
  overflow-y: scroll;
  cursor: pointer;
  top: 0;
  left: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  z-index: 4;
  background: rgba(0, 0, 0, 0.5);
  display: grid;
  place-items: center;
  //* Modal Section
  & .task-details {
    cursor: auto;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',
      Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue',
      sans-serif;
    background-color: #fff;
    height: fit-content;
    position: relative;
    // margin: 50px;
    // top: 48px;
    margin-top: 48px;
    margin-bottom: 80px;
    // left: 50%;
    padding: 0;
    // transform: translate(-50%, -50%);
    z-index: 5;
    min-width: 768px;
    display: grid;
    grid-template-columns: 576px 192px;
    grid-template-areas:
      'header header'
      'title title'
      'main aside';
    //* Close Button
    &-close-btn {
      &-with-header {
        position: absolute;
        align-self: start;
        justify-self: end;
        margin: 4px;
        padding: 0;
        line-height: 0;
        justify-items: center;
        align-items: center;
        font-size: 22px;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-color: rgba(0, 0, 0, 0.1);
        color: #172b4d;
        &:hover {
          background-color: rgba(0, 0, 0, 0.15);
        }
      }
      &-no-header {
        position: absolute;
        align-self: start;
        justify-self: end;
        margin: 4px;
        padding: 0;
        line-height: 0;
        justify-items: center;
        align-items: center;
        font-size: 22px;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-color: transparent;
        color: #172b4d;
        &:hover {
          background-color: #091e4214;
        }
      }
    }
    //* Group Title
    &-title {
      //* Group Title Icon
      grid-area: title;
      display: grid;
      grid-template-columns: 56px 1fr;
      grid-template-rows: min-content;
      grid-template-areas:
        't-icon input'
        '. description';
      // gap: 4px;
      margin-top: 20px;
      margin-bottom: 20px;
      &-icon {
        grid-area: t-icon;
        align-self: center;
        justify-self: center;
        color: #172b4d;
        font-size: 20px;
        // margin-top: 26px;
      }
      &-input {
        grid-area: input;
        padding-left: 6px;
        margin-right: 48px;
        height: 33.2px;
        font-size: 20px;
        font-weight: 600;
        color: #172b4d;
        border: none;
        overflow: hidden;
        overflow-wrap: break-word;
        resize: none;
      }
      &-description {
        grid-area: description;
        padding-left: 8px;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 4px;
        &-title {
          margin: 0;
          padding: 0;
          font-size: 14px;
          font-weight: 400;
          color: #5e6c84;
        }
        &-link {
          padding: 0;
          margin: 0;
          font-size: 14px;
          color: #5e6c84;
          text-decoration: underline;
        }
        &-icon {
          font-size: 16px;
          color: #5e6c84;
          margin-left: 6px;
        }
      }
    }
  }
}
