//* Black Overlay
.task-details-modal-overlay {
  position: fixed;
  cursor: pointer;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 4;
  background: rgba(0, 0, 0, 0.5);
  //* Modal Section
  & .task-details {
    cursor: auto;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',
      Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue',
      sans-serif;
    background-color: #fff;
    height: fit-content;
    position: fixed;
    top: 50%;
    left: 50%;
    padding: 0;
    transform: translate(-50%, -50%);
    z-index: 5;
    min-width: 768px;
    display: grid;
    grid-template-columns: 576px 192px;
    grid-template-areas:
      'header header'
      'title title'
      'main aside';
    //* Close Button
    &-close-btn {
      &-with-header {
        position: absolute;
        align-self: start;
        justify-self: end;
        margin: 4px;
        padding: 0;
        line-height: 0;
        justify-items: center;
        align-items: center;
        font-size: 22px;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-color: rgba(0, 0, 0, 0.1);
        color: #172b4d;
        &:hover {
          background-color: rgba(0, 0, 0, 0.15);
        }
      }
      &-no-header {
        position: absolute;
        align-self: start;
        justify-self: end;
        margin: 4px;
        padding: 0;
        line-height: 0;
        justify-items: center;
        align-items: center;
        font-size: 22px;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-color: transparent;
        color: #172b4d;
        &:hover {
          background-color: #091e4214;
        }
      }
    }
    //* Header
    &-header {
      grid-area: header;
      //* Header
      &-cover {
        color: whitesmoke;
        height: 116px;
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
        & button {
          @include btn(
            'task-edit',
            $list-btn-bg-clr-modal-hover,
            6px 12px,
            $task-details-btn-bg-clr-hover
          );
          display: flex;
          gap: 6px;
          margin: 8px;
          background-color: rgba(0, 0, 0, 0.1);
          color: #172b4d;
          &:hover {
            background-color: rgba(0, 0, 0, 0.15);
          }
        }
      }
    }
    //* Group Title
    &-title {
      //* Group Title Icon
      grid-area: title;
      display: grid;
      grid-template-columns: 56px 1fr;
      grid-template-rows: min-content;
      grid-template-areas:
        't-icon input'
        '. description';
      // gap: 4px;
      margin-top: 20px;
      margin-bottom: 20px;
      &-icon {
        grid-area: t-icon;
        align-self: center;
        justify-self: center;
        color: #172b4d;
        font-size: 20px;
        // margin-top: 26px;
      }
      &-input {
        grid-area: input;
        padding-left: 6px;
        margin-right: 48px;
        height: 33.2px;
        font-size: 20px;
        font-weight: 600;
        color: #172b4d;
        border: none;
        overflow: hidden;
        overflow-wrap: break-word;
        resize: none;
      }
      &-description {
        grid-area: description;
        padding-left: 8px;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 4px;
        &-title {
          margin: 0;
          padding: 0;
          font-size: 14px;
          font-weight: 400;
          color: #5e6c84;
        }
        &-link {
          padding: 0;
          margin: 0;
          font-size: 14px;
          color: #5e6c84;
          text-decoration: underline;
        }
        &-icon {
          font-size: 16px;
          color: #5e6c84;
          margin-left: 6px;
        }
      }
    }
    //* Main
    &-main {
      grid-area: main;
      display: grid;
      grid-template-columns: 56px 512px;
      grid-template-areas:
        't-icon title'
        '. members'
        '. labels'
        'd-icon description';

      //* Labels
      &-labels {
        grid-area: labels;
        display: flex;
        flex-direction: column;
        justify-self: flex-start;
        margin-bottom: 20px;
        &-title {
          align-self: flex-start;
          color: #5e6c84;
          font-size: 12px;
          font-weight: 600;
          padding-left: 8px;
        }
        &-container {
          justify-self: flex-start;
          display: flex;
          flex-wrap: wrap;
          gap: 4px;
          grid-area: label;
          padding-left: 8px;
          padding-right: 8px;
          margin-bottom: 4px;
          align-items: center;
          &-label {
            cursor: pointer;
            border-radius: 3px;
            max-width: 100%;
            min-width: 48px;
            height: 32px;
            display: flex;
            align-items: center;
            gap: 8px;
            padding-left: 8px;
            padding-right: 8px;
            &:hover {
              filter: saturate(85%) brightness(85%);
            }
          }
          &-circle {
            border-radius: 50%;
            min-width: 16px;
            max-width: 16px;
            min-height: 16px;
            max-height: 16px;
          }
          &-title {
            color: #172b4d;
            font-size: 14px;
            width: max-content;
          }
        }
        &-add-btn {
          border-radius: 3px;
          margin: 0;
          padding: 0;
          line-height: 0;
          width: 32px;
          height: 32px;
          justify-items: center;
          align-items: center;
          font-size: 16px;
          background-color: #f0f0f0;
          color: #172b4d;
          &:hover {
            background-color: rgba(9, 30, 66, 0.08);
          }
        }
      }
      //* Members
      &-members {
        grid-area: members;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 20px;
        &-title {
          align-items: flex-start;
          color: #5e6c84;
          font-size: 12px;
          font-weight: 600;
          padding-left: 8px;
        }
        &-container {
          align-items: flex-start;
          padding-left: 8px;
          display: flex;
          flex-wrap: wrap;
          gap: 4px;
          &-img {
            cursor: pointer;
            height: 32px;
            width: 32px;
            border-radius: 50%;
          }
        }
        &-add-btn {
          border-radius: 50%;
          margin: 0;
          padding: 0;
          line-height: 0;
          width: 32px;
          height: 32px;
          justify-items: center;
          align-items: center;
          font-size: 16px;
          background-color: #f0f0f0;
          color: #172b4d;
          &:hover {
            background-color: rgba(9, 30, 66, 0.08);
          }
        }
      }
      //* Description Icon
      &-description-icon {
        grid-area: d-icon;
        justify-self: center;
        color: #172b4d;
        font-size: 20px;
        margin-top: 6px;
      }
      //* Description
      &-description {
        grid-area: description;
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;
        &-title {
          align-self: flex-start;
          font-size: 16px;
          font-weight: 600;
          color: #172b4d;
        }
        &-input {
          align-self: flex-start;
          width: 100%;
          border: none;
          overflow: hidden;
          overflow-wrap: break-word;
          resize: none;
          color: #172b4d;
          font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
            Noto Sans, Ubuntu, Droid Sans, Helvetica Neue, sans-serif;
          font-size: 14px;
          font-weight: 400;
          outline: none;
          &:focus {
            box-shadow: 0 0 0 1px inset #dfe1e6;
          }
        }
      }
    }
    //* Aside Pannel
    &-aside {
      grid-area: aside;
      padding-top: 6px;
      display: flex;
      flex-direction: column;
      &-suggested-action {
        display: flex;
        flex-direction: column;
        padding-left: 8px;
        margin-bottom: 20px;
        gap: 4px;
        &-title {
          align-self: flex-start;
          color: #5e6c84;
          font-size: 12px;
          font-weight: 600;
          margin: 0;
        }
        &-button {
          display: flex;
          flex-direction: column;
          gap: 8px;
          & button {
            @include btn(
              'task-edit',
              $list-btn-bg-clr-modal-hover,
              6px 12px,
              $task-details-btn-bg-clr-hover
            );
            display: flex;
            gap: 6px;
            margin: 0;
          }
        }
      }
      &-task-action {
        display: flex;
        flex-direction: column;
        padding-left: 8px;
        margin-bottom: 24px;
        gap: 4px;
        &-title {
          align-self: flex-start;
          color: #5e6c84;
          font-size: 12px;
          font-weight: 600;
          margin: 0;
        }
        &-button {
          display: flex;
          flex-direction: column;
          gap: 8px;
          & button {
            @include btn(
              'task-edit',
              $list-btn-bg-clr-modal-hover,
              6px 12px,
              $task-details-btn-bg-clr-hover
            );
            display: flex;
            gap: 6px;
            margin: 0;
          }
        }
      }
      &-group-action {
        display: flex;
        flex-direction: column;
        padding-left: 8px;
        margin-bottom: 24px;
        gap: 4px;
        &-title {
          align-self: flex-start;
          color: #5e6c84;
          font-size: 12px;
          font-weight: 600;
          margin: 0;
        }
        &-button {
          display: flex;
          flex-direction: column;
          gap: 8px;
          & button {
            @include btn(
              'task-edit',
              $list-btn-bg-clr-modal-hover,
              6px 12px,
              $task-details-btn-bg-clr-hover
            );
            display: flex;
            gap: 6px;
            margin: 0;
          }
        }
        & hr {
          place-self: left;
          width: 168px;
          height: 2px;
        }
      }
    }
  }
}
