.task-preview-section {
  cursor: pointer;
  min-height: 40px;
  min-width: 256px;
  max-width: 256px;
  border-radius: $clr-task-preview-section-border-radius;
  box-shadow: var(--ds-shadow-raised, 0 1px 0 #091e4240);
  background-color: #fff;
  padding: 0;
  align-items: center;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    'background background'
    'label      label'
    'title      title'
    'info       member';

  .task-preview {
    &-background {
      border-radius: $clr-task-preview-border-radius;
      height: 32px;
      grid-area: background;
      margin-bottom: 6px;
    }

    &-no-background {
      margin-bottom: 6px;
    }

    &-labels {
      display: flex;
      flex-wrap: wrap;
      gap: 8px 4px;
      grid-area: label;
      padding-left: 8px;
      padding-right: 8px;
      margin-top: 4px;
      margin-bottom: 4px;

      .task-preview-label {
        border-radius: 4px;
        height: 8px;
        width: 40px;
      }
    }

    &-no-labels {
      grid-area: labels;
      display: none;
    }

    &-title {
      grid-area: title;
      text-align: start;
      padding-left: 8px;
      padding-right: 8px;
      margin-top: 4px;
      margin-bottom: 4px;
      height: fit-content;
      overflow-wrap: break-word;

      & p {
        margin: 0;
      }
    }

    &-edit {
      height: 32px;
      width: 32px;
      position: absolute;
      grid-area: edit;
      align-self: baseline;
      justify-self: end;
      display: none;
      transition: all ease-in-out 0.3s;

      &-btn {
        position: absolute;
        display: grid;
        place-content: center;
        place-self: center;
        opacity: 0.5;
        border-radius: 3px;
        right: 0px;
        top: 0px;
        height: 28px;
        width: 28px;
        color: #000;
        background-color: #f4f5f7;
        margin-top: 2.4px;
        margin-right: 2.5px;

        &:hover {
          opacity: 0.8;
        }
      }
    }

    &-info {
      grid-area: info;
      justify-self: start;
      padding-left: 8px;
      margin-top: 4px;
      margin-bottom: 6px;
      display: flex;
      place-items: center;
      gap: 4px;
      font-size: 12px;
      color: #6b778c;
      //* Is Following
      &-no-follow {
        display: none;
      }
      &-follow {
        font-size: 16px;
        padding-top: 3px;
        padding-right: 4px;
      }
      //* Todos
      &-no-todo {
        display: none;
      }
      &-todo {
        padding-right: 4px;
        display: flex;
        place-items: center;
        gap: 4px;
        & svg {
          font-size: 14px;
        }
        & span {
          font-size: 12px;
        }
      }
      //* Description
      &-no-description {
        display: none;
      }
      &-description {
        padding-right: 4px;
        font-size: 14px;
        padding-top: 3px;
      }
      //* Comment
      &-no-comment {
        display: none;
      }
      &-comment {
        padding-right: 4px;
        display: flex;
        place-items: center;
        gap: 4px;
        & svg {
          font-size: 14px;
        }
        & span {
          font-size: 12px;
        }
      }
    }

    &-member {
      grid-area: member;
      justify-self: end;
      padding-right: 8px;
      margin-top: 2px;
      margin-bottom: 6px;
      display: flex;
      gap: 4px;

      .task-preview-img {
        height: 28px;
        width: 28px;
        border-radius: 50%;
      }
    }
  }

  &:hover {
    background-color: rgb(236, 234, 234);

    .task-preview-edit {
      display: block;

      .task-preview-edit-menu {
        position: relative;
        left: 25px;

        .task-preview-edit-menu-btn {
          position: relative;
          background: #0009;
          border-radius: 3px;
          clear: both;
          color: #c7d1db;
          float: left;
          margin: 0 0 4px 8px;
          padding: 6px 12px 6px 8px;
          font-size: 14px;
          font-weight: 400;
          line-height: 20px;
          transition: transform 85ms ease-in;
          width: 100px;
          z-index: 10;
        }
      }
    }
  }
}

// @mixin random-bgr() {
//   background: rgb(random(255), random(255), random(255));
// }
