.task-list-section {
  position: relative;
  display: flex;
  flex-direction: column;
  // place-items: center;
  gap: 8px;
  // padding: 0px 4px;
  // padding-right: 8px; // TODO: When scroll appear
  padding-bottom: 2px;

  overflow-x: hidden;
  overflow-y: auto;

  &::-webkit-scrollbar {
    display: flex;
    // height: 1px;
    width: 8px;
  }
  &::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.2);
    // height: 12px;
    border-radius: 0.2rem;
  }

  &::-webkit-scrollbar-track {
    background-color: #dbdbe2;
    color: #c2c4cd;
    // margin: 50px;
    // height: 12px;
    border-bottom: 10px solid transparent;
    border-radius: 0.2rem;
  }
}

.task-list-section.scrolling {
  padding-right: 8px;
  & + form {
    padding-right: 16px;
  }
}
