.app-header-section {
    padding: 10px;
    background-color: $clr1;
    color: $clr-white;

    .user-info {

        padding-left: 100px;


        .score {
            padding: 8px;
            margin: 10px;
            border-radius: 50%;
        }

        img {
            width: 32px;
            height: 32px;
            border-radius: 50%;
            object-fit: cover;
        }
    }


    nav {
        font-size: .8em;
        padding: 5px;

    }

    nav a:first-child {
        margin-right: 30px;
    }

    nav a:not(:first-child) {
        padding: 0 5px;
        margin: 10px;
    }


}