.app-header-section {
    padding: 0 4px;
    background-color: $clr3;
    color: $clr-white;
    display: flex;

    .header-links {
        color: white;
        font-size: 1.5em;
        margin: 10px 0 10px 10px;
    }

    .logo {
        background-image: url("https://a.trellocdn.com/prgb/dist/images/header-logo-spirit-loading.87e1af770a49ce8e84e3.gif");
        background-size: cover;
        background-repeat: no-repeat;
        width: 75px;
        height: 15px;
        margin: 12px 30px 10px 10px;
    }

    .user-info {

        padding-left: 100px;


        .score {
            padding: 8px;
            margin: 10px;
            border-radius: 50%;
        }

        img {
            width: 32px;
            height: 32px;
            border-radius: 50%;
            object-fit: cover;
        }
    }


    nav {
        font-size: 1em;
        padding: 5px;

        a {
            text-decoration: none;
            font-family: inherit;
            color: white;
            line-height: 32px;
        }

        .down-arrow-nav {
            font-size: 1.7em;
            margin-left: 5px;
            position: relative;
            top: 6px;
        }
    }

    nav a:not(:first-child) {
        padding: 0 5px;
        margin: 10px;
    }


}