#modal-header {
  padding: 0 6px 0 3px;
  border-bottom: 1px solid #091e4221;

  h6 {
    margin-bottom: 0;
    position: relative;
  }

  button {
    position: absolute;
    right: 3px;
    top: 4px;
    color: $clr-txt-btn;
    font-size: 1em;
    // padding-top: 7px;
    background-color: transparent;
    color: #6e6e6e;
    width: fit-content;
  }
}

#modal-form-container {
  padding: 0 12px 20px 12px;

  .modal-content-container {
    position: sticky;
    padding: 10px 0 0 0;
  }
}

.modal-btn-full {
  @include btn('modal-full',
    $list-btn-bg-clr-modal-hover,
    6px 12px,
    $task-details-btn-bg-clr-hover );
  margin: 4px 0 0 0;
  text-align: center;
  display: block;
  width: 100%;
}

.copy-items-from {
  color: var(--ds-text, #172b4d);
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans,
    Ubuntu, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  width: 100%;
}

.labels-selection-container {
  .task-label-selection-wrapper {
    display: flex;
    flex-direction: row;

    span {
      color: $clr-txt-btn;
    }

    input {
      width: 16px;
      height: 16px;
      border-radius: 1px;
      margin: 12px 10px 0 0;
    }

    .task-label-selection {
      display: flex;
      flex-wrap: wrap;
      padding-left: 8px;
      padding-right: 8px;
      margin-top: 4px;
      margin-bottom: 4px;
      border-radius: 3px;
      height: 32px;
      width: 100%;
      // filter: brightness(150%)
    }
  }
}

#labels-container-modal {
  display: grid;
  grid-template-columns: 1fr 7fr 1fr;
  align-items: baseline;
  height: 36px;

  span {
    margin: 0;
    margin-left: 3px;
    padding: 8px 8px 4px;
    border-radius: $border-radius;

    &:hover {
      cursor: pointer;
    }

    svg {
      margin-bottom: 2px;
    }
  }

  h2 {
    text-align: left;
  }

  label {
    color: $default-board-bg-clr;
    font-size: 21px;
    padding-top: 1px;
  }

  .blank-checkbox {
    color: #dfe1e6;
    font-size: 21px;
  }
}

.modal-task-labels {
  .modal-content-container {
    .labels-selection-container {
      margin-bottom: 15px;

      button {
        @include btn('modal-full',
          $list-btn-bg-clr-modal-hover,
          6px 12px,
          $task-details-btn-bg-clr-hover );
      }
    }
  }
}

.task-attachment-modal-content {
  margin-top: 10px;

  #modal-btn-full {
    padding-left: 3px;

    .upload-preview {
      &:hover {
        background-color: transparent;
      }

      label {
        padding: 10px 0;
        height: 40px;
        background-color: transparent;
        width: 100%;

        &:hover {
          background-color: transparent;
        }
      }
    }
  }

  input {
    margin-bottom: 5px;
  }
}

.attachment-action-btns-container {}

#modal-btn-full {
  @include btn('modal-full', white, 6px 12px, $list-btn-bg-clr-modal-hover);
}

#modal-btn-full-grey {
  @include btn('modal-full',
    $list-btn-bg-clr-modal-hover,
    6px 12px,
    $task-details-btn-bg-clr-hover );
  justify-content: center;
  border-radius: $border-radius;
  margin-top: 6px;
}

#delete-btn {
  @include btn('action', #b04632, 7px 12px);
}

#save-btn {
  @include btn('action', $clr4, 7px 12px, $allowed-btn-bg-clr);

  // display: flex;
  // background-color: #0079bf;
  // border-radius: 3px;
  // font-family: inherit;
  // font-size: 1em;
  // margin-left: 0;
  // padding: 7px 12px 5px;
  // width: fit-content;
  // color: white;
}

#attach-btn {
  padding: 6px 12px;
  background-color: rgba(9, 30, 66, 0.0392156863);
  line-height: 1.25;
  font-size: 1em;
  font-family: inherit;
  font-weight: 400;
  color: #172b4d;
  border-radius: rem(3px);
  cursor: pointer;
  display: block;
  height: 32px;
  margin: 0;
  margin-bottom: 15px;
  width: fit-content;

  &:hover {
    background-color: rgba(9, 30, 66, 0.0784313725);
  }
}

.new-label-demo {
  background-color: #f4f5f7;
  padding: 32px;
  margin: 12px 0 0 0;
}

#label-color-selection-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 4px;
  padding-left: 2px;
  margin-bottom: 8px;
  line-height: 20px;

  .btn-label-color {
    height: 28px;
    width: 48.8px;
    border: none;
    align-items: center;
    border-radius: 3px;
    box-shadow: none;
    box-sizing: border-box;
    cursor: pointer;
    overflow: hidden;
    position: relative;
    text-decoration: none;
    text-overflow: ellipsis;
    user-select: none;
    white-space: nowrap;
    line-height: 20px;
    color: #172b4d;
    padding: 6px 12px;
    display: flex;
    gap: 6px;
    margin: 0;

    &:focus {
      outline: 3px solid #0079bf;
      border: 2px solid white;
    }
  }
}

.return-btn {
  position: absolute;
  left: 10px;
  top: 9px;
  z-index: 10;

  &:hover {
    cursor: pointer;
  }
}

.quick-action-modal-overlay {
  position: fixed;
  overflow-x: hidden;
  overflow-y: scroll;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  z-index: 4;
  background: rgba(0, 0, 0, 0.5);
  // display: grid;
  place-items: center;
}

.quick-action-modal {
  cursor: auto;
  position: absolute;
  color: $modal-clr;
  font-weight: 400;
  // background-color: $clr-white;
  border-radius: $border-radius;
  box-shadow: 0 8px 16px -4px rgba(9, 30, 66, 0.25),
    0 0 0 1px rgba(9, 30, 66, 0.08);
  box-sizing: border-box;
  width: 256px;
  z-index: 4;

  // outline: 0;
  .quick-action-btns {
    position: absolute;
    top: 0;
    left: 100%;
    height: fit-content;
    width: 240px;

    @include for-mobile-layout {
      position: static;
      margin-top: 8px;
    }

    #task-preview-edit-menu-btn {
      transition: opacity 85ms ease-in, transform 85ms ease-in;

      &:hover {
        transform: translateX(5px);
      }

      // position: absolute;
      display: block;
      left: 0;
      background: #0009;
      border-radius: 3px;
      clear: both;
      color: #c7d1db;
      float: left;
      margin: 0 0 4px 8px; //left should be 15 px but can't click because of hover
      padding: 6px 12px 6px 8px;
      font-size: 14px;
      font-weight: 400;
      line-height: 20px;
      transition: transform 85ms ease-in;
      // width: 100px;
      z-index: 100;
      align-content: left;

      .quick-edit-btn-title {
        margin-left: 4px;
      }
    }
  }
}

.task-preview-quick-edit-title {
  display: block;
  overflow: hidden;
  overflow-wrap: break-word;
  resize: none;
  height: 90px;
  width: 100%;
  background-color: initial;
  border: none;
  text-align: top;
  outline: none;
  padding-left: 1px;
  padding-top: 0;
  padding-bottom: 77px;
  color: $clr-txt;
  overflow: hidden;
  overflow-wrap: break-word;
  // padding-right: 0.4em;
}

.member-details-modal-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .modal-member-header {
    // background-color: #0079be;
    background: linear-gradient(to bottom, #0079be 80%, white 50% 80%);
    height: 100px;
    padding: 24px 0 0 14px;

    span {
      display: flex;

      img {
        display: absolute;
        height: 86px;
        width: 86px;
        border-radius: 50%;
        border: 1px solid white;
        margin-right: 10px;
      }

      h6 {
        color: white;
        display: flex;
        // line-height: 20px;
        font-size: 16px;
      }
    }

    #close-btn {
      position: relative;
      right: -110px;
      top: -105px;
      background-color: transparent;
    }

  }

  .action-btns-container {
    padding: 12px;

    .action-btn {
      color: #172b4d;
      margin: auto;
      width: 100%;
      text-align: center;
      display: block;
      background-color: rgba(255, 255, 255, 0.164);
      font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Noto Sans", "Ubuntu", "Droid Sans", "Helvetica Neue", sans-serif;
      font-size: 14px;
      line-height: 20px;
      font-weight: 400;
      display: inline-flex;
      border-radius: 0.15625rem;
      cursor: pointer;
      padding: 6px 12px;
      margin: 0 -12px;
      transition-property: background-color;
      transition-duration: 85ms;
      transition-timing-function: ease;

      &:hover {
        background-color: rgba(226, 226, 226, 0.538);
      }
    }
  }
}

.color-pick {
  pointer-events: none;

  &:hover {
    background-color: unset !important;
  }
}

.mymodal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  border: 1px solid #ccc;
  background: #fff;
  overflow: auto;
  border-radius: 4px;
  outline: none;
  padding: 20px;
}

.myoverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.75);
}

.ReactModal__Overlay {
  opacity: 0;
  transition: opacity 500ms ease-in-out;
}

.ReactModal__Overlay--after-open {
  opacity: 1;
}

.ReactModal__Overlay--before-close {
  opacity: 0;
}

.task-share-modal {
  #print-btn {
    background-color: transparent;
    margin: 10px 0;
    width: 100%;
    border-radius: 0;

    &:hover {
      background-color: #091e420a;
    }
  }

  .url-to-share {
    &:focus {
      outline: 2.5px solid #0079bf;
      box-shadow: none;
    }
  }
}