#modal-header {
    padding: 0 6px 0 3px;
    border-bottom: 1px solid #091e4221;

    h6 {
        margin-bottom: 0;
        position: relative;
    }

    button {
        position: absolute;
        right: 3px;
        top: 4px;
        color: $clr-txt-btn;
        font-size: 1em;
        // padding-top: 7px;
        background-color: transparent;
        color: #6e6e6e;
        width: fit-content;
    }
}

// #modal-header-task-members {
//     h2{
//         text-align: center;
//     }

//     #close-btn {
//         // position: absolute;
//         // right: 0;
//         background-color: transparent;
//         padding: 0;
//         color: #6e6e6e;
//     }

// }

// .task-details-aside-task-action-button {
//     position: relative;
// }

#modal-form-container {
    padding: 0 12px 20px 12px;

    .modal-form-container {}

    .modal-content-container {
        padding: 10px 0 0 0;

        .members-modal-content-wrapper {

            input {
                padding: 12px 12px 12px 12px;
            }

            p {
                margin-bottom: 12px;
            }

            // .board-members-check{

            //     width:100%;
            // }

            .modal-btn-full-members {
                @include btn('modal-full', white, 6px 0, $list-btn-bg-clr-modal-hover);
                display: grid;
                grid-template-columns: 1fr 5fr 1fr;
                justify-content: space-between;
                margin: 0 0 5px 5px;
                font-size: 1em;
            }

            .modal-btn-full {
                @include btn('modal-full', $list-btn-bg-clr-modal-hover, 6px 12px, $task-details-btn-bg-clr-hover);
                margin: 4px 0 0 0;
                text-align: center;
            }

            .no-member-msg {
                background-color: $list-btn-bg-clr-modal-hover;
                color: $clr-txt-btn;
                padding: 24px 6px;
                // height: fit-content;
            }
        }
    }

}


.copy-items-from {
    color: var(--ds-text, #172b4d);
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Droid Sans, Helvetica Neue, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    width: 100%;
}


.labels-selection-container {
    .task-label-selection-wrapper {
        display: flex;
        flex-direction: row;

        span {

            color: $clr-txt-btn;
        }

        input {
            width: 16px;
            height: 16px;
            border-radius: 1px;
            margin: 12px 10px 0 0;
        }

        .task-label-selection {
            display: flex;
            flex-wrap: wrap;
            padding-left: 8px;
            padding-right: 8px;
            margin-top: 4px;
            margin-bottom: 4px;
            border-radius: 3px;
            height: 32px;
            width: 100%;
            // filter: brightness(150%)
        }
    }
}

#labels-container-modal {
    display: grid;
    grid-template-columns: 1fr 7fr 1fr;
    align-items: baseline;
    height: 36px;

    span {
        margin:0;
        padding:7px 5px;
        border-radius: $border-radius;
        svg{
            margin-bottom: 4px;;
        }
        &:hover {
            cursor: pointer;
            background-color: rgba(9, 30, 66, 0.08);
        }
    }

    h2 {
        text-align: left;
    }

    label {
        color: $default-board-bg-clr;
        font-size: 21px;
        padding-top: 1px;
    }

    .blank-checkbox {
        color: #dfe1e6;
        font-size: 21px;
    }

}

.modal-task-labels {

    .modal-content-container {
        .labels-selection-container {
            margin-bottom: 15px;
            ;

            button {
                @include btn('modal-full', $list-btn-bg-clr-modal-hover, 6px 12px, $task-details-btn-bg-clr-hover);
            }
        }

    }
}

.label-color-selection-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 4px;
    margin-bottom: 8px;
    line-height: 20px;

    .btn-label-color {
        height: 28px;
        width: 48.8px;
    }
}

.task-attachment-modal-content {
    margin-top: 10px;

    input {
        margin-bottom: 5px;
    }
}

.attachment-action-btns-container {}

#modal-btn-full {
    @include btn('modal-full', white, 6px 12px, $list-btn-bg-clr-modal-hover)
}

#modal-btn-full-grey {
    @include btn('modal-full', $list-btn-bg-clr-modal-hover, 6px 12px, $task-details-btn-bg-clr-hover);
    justify-content: center;
    border-radius: $border-radius;
    margin-top: 6px;
}

#delete-btn {
    @include btn('action', #b04632, 7px 12px);
}

#save-btn {

    @include btn('action', $clr4, 7px 12px, $allowed-btn-bg-clr);

    // display: flex;
    // background-color: #0079bf;
    // border-radius: 3px;
    // font-family: inherit;
    // font-size: 1em;
    // margin-left: 0;
    // padding: 7px 12px 5px;
    // width: fit-content;
    // color: white;
}

#attach-btn {
    width: fit-content;
}

.new-label-demo {
    background-color: #F4F5F7;
    padding: 32px;
    margin: 12px 0 0 0;

}

.return-btn {
    position: absolute;
    left: 10px;
    top: 9px;

    &:hover {
        cursor: pointer;
    }
}