#modal-group-actions {
    position:relative;
    top:100px;
    left:100px;

    .group-actions-modal-list-container {
        padding: 0;

        .modal-btn-full {
            // color: #172b4d;
            @include btn('modal-full', white, 0, $list-btn-bg-clr-modal-hover)
        }
    }
}