.main-container {
    display: grid;
    grid-template-columns: $layoutPadding 1fr $layoutPadding;
    padding: 0 $layoutPadding;
    // background-color: $clr1bg ;

    > * {
        grid-column: 2;

        &.full {
            grid-column: 1 /-1;
        }
    }

    >*:not(.full) {
        display: grid;
        grid-auto-flow: dense;
    }

    @include for-narrow-layout {
        @include layoutGTC($break-narrow);
    }

    @include for-normal-layout {
        @include layoutGTC($break-normal);
    }

    @include for-wide-layout {
        @include layoutGTC($break-wide);
    }
    
}

.app {
    display: flex;
    flex-direction: column;
    height: 100vh;

    & main {
        flex-grow: 1;
    }
}