.workspace-section {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 30px;
    margin: auto;
    //change max-width
    max-width: 1038px;
    min-height: calc(100vh - 44px);
    padding: 47px 0 40px;

    h1 {
        color: $clr2;
        text-align: left;
        font-size: rem(16px);
        font-weight: 700;
        line-height: rem(24px);
        display: flex;
        align-items: center;
        gap: 10px;

        & .workspace-icons {
            height: 23px;
            width: 23px;
            margin-left: 5px;
        }

    }

    h3{
        align-items: center;
        color: #5e6c84;
        display: flex;
        flex: 1;
        font-size: 16px;
        font-weight: 700;
        line-height: 24px;
        margin: 20px 0;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        text-transform: uppercase;
    }

    // @include for-mobile-layout {
    //     background-color: $clr3;
    // }

    // @include for-narrow-layout {
    //     background-color: $clr2;
    // }
    
    // @include for-normal-layout {
    //     background-color: $clr3;
    //     max-width: 900px;
    // }

    // @include for-wide-layout {
    //     background-color: $clr4;
    //     max-width: 1038px;
    // }
    

}
