.task-cover{

    button{
        width: 100%;
        margin-left: 0;
        text-align: center;
        display: block;
    }

    .modal-btn-full{
        margin: 0;
        width: 100%;
        text-align: center;
        display: block;
        margin-top: 5px;
    }
}

.btns-cover-color{
    display: flex;
    flex-wrap: wrap;
    gap: 7px;


    .btn-cover-color{
        margin: 0;
        border-radius: 3px;
        height: 72px;
        width: 100%;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        box-shadow: none;
        width: 50px;
        height: 32px;
        cursor: pointer;

        
        &:focus {
            outline: 2px solid #0079BF;
            border: 2px solid white;
        }
    }
}
