.task-preview {
  &-cover-img {
    grid-area: cover;
    border-radius: $clr-task-preview-border-radius;
    width: 100%;
    // height: fit-content;
    margin-bottom: 6px;
  }
  &-cover-color {
    grid-area: cover;
    border-radius: $clr-task-preview-border-radius;
    height: 32px;
    margin-bottom: 6px;
  }
  &-no-cover {
    grid-area: cover;
    margin-bottom: 6px;
  }
}
