.task-preview {
  &-edit {
    height: 32px;
    width: 32px;
    position: absolute;
    align-self: baseline;
    justify-self: end;
    display: none;
    transition: all ease-in-out 0.3s;

    &-btn {
      position: absolute;
      display: grid;
      place-content: center;
      place-self: center;
      opacity: 0.5;
      border-radius: 3px;
      right: 0px;
      top: 0px;
      height: 28px;
      width: 28px;
      color: #000;
      background-color: #f4f5f7;
      margin-top: 2.4px;
      margin-right: 2.5px;

      &:hover {
        opacity: 0.8;
      }
    }
  }
}
