.task-preview {
  &-edit {
    height: 32px;
    width: 32px;
    position: absolute !important;
    align-self: baseline;
    justify-self: end;
    transition: all ease-in-out 0.3s;
    display: none;
    
    &-btn {
      position: absolute;
      // display: grid;
      place-content: center;
      place-self: center;
      opacity: 0;
      border-radius: 3px;
      right: 0px;
      top: 0px;
      height: 28px;
      width: 28px;
      color: #000;
      background-color: #f4f5f7;
      margin-top: 2.4px;
      margin-right: 2.5px;
      padding: 3px 1px 0 0 ;

      &:hover {
        display: block;
        opacity: 0.8;
        background-color: #f4f5f7;
      }

      @include for-mobile-layout {
        opacity: 0.5;
      }
    }
  }
}
