.group-preview-wrapper{
    height: 100%;
    margin: 0 4px;
    width:272px;

    .plus{
        font-size: 2em;
    }
    .template-btn{
        font-size: 1.5em;
    }

    .group-preview-section{
        background-color: $group-bg-clr;
        color: $clr-txt;
        display: flex;
        flex-direction: column;
        border-radius: $border-radius;
        padding: 6px 8px 2px;
        box-shadow: 0 1px 0 rgb(9 30 66 / 25%);
    
        .group-title{
        }
        .group-bottom-control-btns{
            display: flex;
            min-height: 38px;
            justify-content: space-between;
            a{
                padding: 4px 8px;
            }
        }
    }
}