.task-details-aside-task-action {
  display: flex;
  flex-direction: column;
  padding-left: 8px;
  margin-bottom: 24px;
  gap: 4px;
  &-title {
    align-self: flex-start;
    color: #5e6c84;
    font-size: 12px;
    font-weight: 600;
    margin: 0;
  }
  &-button {
    display: flex;
    flex-direction: column;
    gap: 8px;
    & button {
      @include btn(
        'task-edit',
        $list-btn-bg-clr-modal-hover,
        6px 12px,
        $task-details-btn-bg-clr-hover
      );
      display: flex;
      gap: 6px;
      margin: 0;
    }
  }
}
