a {

    list-style: none;
    text-decoration: none;
    line-height: 1;

    &:hover{
        text-decoration: none;
    }

    & .board-preview {
        background: $default-board-bg-clr;
        color: $clr-white ;
        padding: 10px;
        // background-size: cover;

        border-radius: 3px;
        color: #fff;
        font-size: .8547em;
        height: 96px;
        width: 194px;


        h4 {
            text-align: left;
            word-wrap: break-word;
            font-size: rem(16px);
            font-weight: 700;
            text-decoration: none;
        }

        &:hover {
            background-color: rgba(158, 176, 187, 0.425);
        }



        & .board-preview-details {
            position: relative;
        }


    }
}