.board-menu-section {

    background-color: white;
    box-sizing: border-box;
    flex: 1 auto;
    padding: 12px 6px 8px 12px;
    transform: translateX(0);
    transition-duration: .12s;
    transition-property: transform, opacity;
    transition-timing-function: ease-in;

    // width: 100%;
    // height: 100vh;
    position: fixed;
    top: 43px;
    height: calc(100vh - 43px);
    z-index: 4;
    right: 0;
    width: 351px;
    // transform: translate(50%);

    // &-open{
    //     transform: translateX(0);

    //     background-color: white;
    //     box-sizing: border-box;
    //     flex: 1 auto;
    //     padding: 12px 6px 8px 12px;
    //     transform: translateX(0);
    //     transition-duration: .12s;
    //     transition-property: transform, opacity;
    //     transition-timing-function: ease-in;
    //     width: 100%;

    // }

    .side-menu-header {
        display: flex;
        align-items: center;
        justify-content: space-between;

        button {
            color: $clr-txt-btn;
            font-size: 1em;
            // padding-top: 7px;
            background-color: transparent;
            color: #6e6e6e;
            width: fit-content;
            margin: 0;
        }

        h6 {
            margin: 0;
        }
    }

    .content-section {
        height: 100vh;

        .side-menu-photos {
            overflow-x: hidden;
            overflow-y: auto;
            height: 100%;

            &::-webkit-scrollbar {
                display: flex;
                // height: 1px;
                width: 8px;
            }

            &::-webkit-scrollbar-thumb {
                background: rgba(0, 0, 0, 0.2);
                // height: 12px;
                border-radius: 0.2rem;
            }

            &::-webkit-scrollbar-track {
                background-color: #dbdbe2;
                color: #c2c4cd;
                // margin: 50px;
                // height: 12px;
                border-bottom: 10px solid transparent;
                border-radius: 0.2rem;
            }
        }

        form{
            width: 300px;

            input{
                padding: 10px;
                width: 300px;
            }

            button{
                background: transparent;
            }
        }

       

        .search-icon{
            position: relative;
            top: -40px;
            left: 130px;
        }

    }

    button {
        color: $clr-txt;
        margin: auto;
        width: 100%;
        text-align: center;
        display: block;
    }

    .board-menu-header-content {
        display: flex;
        align-items: center;
        box-sizing: border-box;
        flex: 0 0 auto;
        height: 48px;
        // opacity: 0;
        overflow: hidden;
        padding: 0 6px 0 12px;
        position: relative;
        transition: opacity .2s ease-in;
        width: 100%;

        h3 {
            flex: 1;
            line-height: 20px;
            margin: 14px 32px;
            overflow: hidden;
            text-align: center;
            text-overflow: ellipsis;
            transition: margin .12s ease-in;
            white-space: nowrap;
        }

        button {
            color: black;
        }
    }

    .btns-container {
        grid-gap: 8px;
        display: grid;
        gap: 8px;
        grid-template-columns: 1fr 1fr;
        height: 124px;
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 12px;
        width: 100%;

    }

    .colors-btn {
        background-image: url(../../../img/colors-btn.jpg);
        background-color: #dfe1e6;
        background-size: cover;
        border-radius: rem(8px);
        height: 96px;
        margin-bottom: 8px;
        width: 100%;
    }

    .imgs-btn {
        background-image: url(../../../img/imgs-btn.jpg);
        background-color: #dfe1e6;
        background-size: cover;
        border-radius: rem(8px);
        height: 96px;
        margin-bottom: 8px;
        width: 100%;

    }

}

.btns-container-change {
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 10px;
    padding-left: 0;
    padding-right: 20px;


    .btn-change {
        height: 96px;
        box-sizing: border-box;
        cursor: pointer;
        float: left;
        padding: 0 4px;
        position: relative;
        text-align: center;

        background-size: cover;
        border-radius: 8px;
        height: 96px;
        width: 100%;

    }
}