.task-preview-section {
  cursor: pointer;
  min-height: 40px;
  min-width: 256px;
  max-width: 256px;
  border-radius: $clr-task-preview-section-border-radius;
  box-shadow: var(--ds-shadow-raised, 0 1px 0 #091e4240);
  background-color: #fff;
  padding: 0;
  align-items: center;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    'cover cover'
    'labels      labels'
    'title      title'
    'infos       members';

  &:hover {
    background-color: #f4f5f7;

    .task-preview-edit {
      display: block;
      position: fixed;

      .task-preview-edit-menu {
        position: relative;
        left: 25px;

        #task-preview-edit-menu-btn {
          position: relative;
          background: #0009;
          border-radius: 3px;
          clear: both;
          color: #c7d1db;
          float: left;
          margin: 0 0 4px 8px; //left should be 15 px but can't click because of hover
          padding: 6px 12px 6px 8px;
          font-size: 14px;
          font-weight: 400;
          line-height: 20px;
          transition: transform 85ms ease-in;
          width: 100px;
          z-index: 10000;
        }
      }
    }
  }

  img {
    grid-area: cover;
  }
}

// @mixin random-bgr() {
//   background: rgb(random(255), random(255), random(255));
// }
