/* Breakpoint mixins */

@mixin for-mobile-layout {
  @media (max-width: $break-narrow) {
    @content;
  }
}

@mixin for-narrow-layout {
  @media (min-width: $break-narrow) {
    @content;
  }
}

@mixin for-normal-layout {
  @media (min-width: $break-normal) {
    @content;
  }
}

@mixin for-wide-layout {
  @media (min-width: $break-wide) {
    @content;
  }
}

@mixin layoutGTC($max) {
  grid-template-columns: minmax($layoutPadding, 1fr) minmax(auto, $max) minmax(
      $layoutPadding,
      1fr
    );
}

/* Media  Mixins */
@mixin aspect-ratio($width, $height) {
  position: relative;
  overflow: hidden;

  &::before {
    display: block;
    content: '';
    width: 100%;
    padding-top: calc(($height / $width) * 100%);
  }

  > * {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  > img {
    height: 100%;
    object-fit: cover;
  }
}

// Mixin for removing hover efects on iphone screen
@mixin hover-supported {
  @media not all and (pointer: coarse) {
    &:hover {
      @content;
    }
  }
}

// Buttons

@mixin btn(
  $type: regular,
  $bg: $clr1,
  $padding: em(10px) em(20px),
  $hover: $bg
) {
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  padding: $padding;
  background-color: $bg;
  line-height: 1.25;
  font-size: 1em;
  font-family: inherit;
  font-variation-settings: 'wght' 400;
  border: none;
  cursor: pointer;
  border-radius: $border-radius;
  font-weight: 400;
  // transition: background-color 0.2s;

  &:hover {
    background-color: $hover;
  }

  @if $type ==regular {
    color: $clr1;
  } @else if $type ==modal-full {
    color: $clr-txt;
    text-align: center;
    width: 100%;
    border-radius: 0;
    margin: 0;
  } @else if $type ==task-edit {
    border: none;
    border-radius: 3px;
    box-shadow: none;
    box-sizing: border-box;
    cursor: pointer;
    display: block;
    height: 32px;
    // margin-top: 8px;
    max-width: 300px;
    overflow: hidden;
    position: relative;
    text-decoration: none;
    text-overflow: ellipsis;
    // transition-duration: 85ms;
    // transition-property: background-color, border-color, box-shadow;
    // transition-timing-function: ease;
    user-select: none;
    white-space: nowrap;
    line-height: 20px;
    color: $clr-txt;
    padding: 6px 12px;
    width: 168px;
  }

  @else if $type == action{
    margin-left: 0;
    color: white;
    width: fit-content;
  }

  // @else if $type ==dark {
  //     background-color: $clr2;
  //     color: $clr3;

  //     &:hover {
  //         background-color: $clr1;
  //         color: $clr3;
  //     }
  // }

  // @else if $type ==light {
  //     background-color: $clr3;
  //     color: $clr2;

  //     &:hover {
  //         background-color: $clr1;
  //         color: $clr3;
  //     }
  // }
}

// Type

@mixin type($type: bold) {
  // type options:
  // 1.bold
  // 2.boldCondensed
  // 3.condensed
  @if $type ==bold {
    font-variation-settings: 'wght' 430;
  } @else if $type ==boldCondensed {
    font-variation-settings: 'wght' 430, 'wdth' 80;
    letter-spacing: em(6.72px);
  } @else if $type ==condensed {
    font-variation-settings: 'wdth' 80;
    letter-spacing: em(6.72px);
  } @else if $type ==light {
    font-variation-settings: 'wght' 200;
  }
}
